TSP_ASPLayer/Service References/WcfService/FestivalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59269/FestivalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" />
  <xs:element name="GetFestivalByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestivalByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" minOccurs="0" name="GetFestivalByNameResult" nillable="true" type="q1:Festival" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFestivals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFestivalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" minOccurs="0" name="GetAllFestivalsResult" nillable="true" type="q2:ArrayOfFestival" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" minOccurs="0" name="festival" nillable="true" type="q3:Festival" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationToFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="festivalName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" minOccurs="0" name="location" nillable="true" type="q4:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationToFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformerToFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="festivalName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" minOccurs="0" name="performer" nillable="true" type="q5:Performer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerformerToFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketToFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="festivalName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TSP.EntityLayer" minOccurs="0" name="ticket" nillable="true" type="q6:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketToFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="festivalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationFromFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="festivalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationFromFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerformerFromFestival">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="festivalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerformerFromFestivalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>